<ul class="main_menu">
    <li>
        <a href="/">Home</a>
        <ul class="sub_menu">
            <li><a href="index.html">Homepage V1</a></li>
            <li><a href="home-02.html">Homepage V2</a></li>
            <li><a href="home-03.html">Homepage V3</a></li>
        </ul>
    </li>

    <li>
        <a href="/nuevo-grupo">Crear Grupo</a>
    </li>

    <li class="sale-noti">
        <a href="/iniciar-sesion">Iniciar Sesión</a>
    </li>

    <li>
        <a href="/crear-cuenta">Registrarse</a>
    </li>

    <li>
        <a href="/shop">tienda</a>
    </li>
    
    <li>
        <a href="about.html">About</a>
    </li>
</ul>