<h1><%= nombrePagina %></h1>
<section class="bgwhite p-t-55 p-b-65">
    <div class="container">
        <div class="row">
         
    <% if (meetis.length > 0 ) { %>
  
        <div class="col-sm-6 col-md-8 col-lg-11 p-b-50">
            <div class="row" id="list">
        <% meetis.forEach(meeti => { %>
            <%- include partials/cards-meet3.ejs %>
        <% }) %>
            </div>
        </div>
    <% } else { %>
        <p>No hay resultados</p>
    <% } %>
        </div>
    </div>
</section>
