<main class="contenedor contenedor-formularios">
    <h1><%= nombrePagina %></h1>
    <form class="default-form" action="/nuevo-meeti" method="POST" enctype="multipart/form-data">
        <legend>Sobre el Producto</legend>
        <div class="campo">
            <label>Categoria</label>
            <select name="grupoId" required>
                <option value="" disabled selected>-- Selecciona Categoria --</option>
                <% if(grupos.length > 0 )  { %>
                    <% grupos.forEach(grupo => {  %>
                        <option value="<%= grupo.id %>"><%= grupo.nombre %></option>
                    <% }) %>
                <% } %>
            </select>
        </div>
        <div class="columnas-2 grid">
            <div class="campo">
                <label>Fecha</label>
                <input type="date" name="fecha" placeholder="Fecha Meeti" required>
            </div>
            <div class="campo">
                <label>Hora</label>
                <input type="time" name="hora" placeholder="Hora Meeti"required>
            </div>
        </div>
        <div class="campo">
            <label>Nombre</label>
            <input type="text" name="titulo" placeholder="Nombre del producto" required>
        </div>

        <div class="campo descripcion">
            <label>Descripción</label>
            <div class="contenedor-editor">
                <input type="hidden" id="x" name="descripcion" required>
                <trix-editor input="x"></trix-editor>
            </div>
        </div>
        <div class="campo">
            <label>Imagen</label>
            <input type="file" name="imagen" multiple>
        </div>

        <legend>producto personalizada</legend>

   

        <div class="pago" >

            <div class="campo">
                <label>Valor producto</label>
                <input type="text" id="valorMeeti" name="valorMeeti" placeholder="Valor Producto" >
            </div>
            <div class="campo">
                <label></label>
                <div class="contenedor-input">
                        <div>
                            <label>
                                <input type="checkbox"  class="checkB-input checkbox" id="checkPago" />
                                vender producto?
                             </label>
                        </div>
                </div>
            </div>
        </div>
        <div class="pago" id="pagoCheck" style="display: none;">
                <br>
            <p style="
    font-weight: bold;
    color: #333;
    font-size: 1rem;
    text-align: center;
">los siguientes valores debe de validarlo en la cuenta de ePayco:</p>

            <div class="campo">
                <label>P_CUST_ID</label>
                <input type="text" id="epayco_customerid" name="epayco_customerid" placeholder="ID de cliente que lo identifica en ePayco. Lo puede encontrar en su panel de clientes en la opción configuración" >
            </div>
            <div class="campo">
                <label>P_KEY</label>
                <input type="text" id="epayco_secretkey" name="epayco_secretkey" placeholder="LLave para firmar la información enviada y recibida de ePayco." >
            </div>

            <div class="campo">
                <label>PUBLIC_KEY</label>
                <input type="text" id="epayco_publickey" name="epayco_publickey" placeholder="LLave para autenticar y consumir los servicios de ePayco." >
            </div>

            <div class="campo">
                <label>modo</label>
                <div>
                    <label>
                      <input type="radio" class="checkB-input radio" name="checkoutTest" id="checkoutTest" value="test" checked />
                      Prueba
                    </label>
                    <label>
                      <input type="radio" class="checkB-input radio" name="checkoutTest" id="checkoutTest" value="prod" />
                      Producción
                    </label>
                  </div>
            </div>
        </div>
        <br>
        <p class="informacion">Confirma que los siguientes campos sean correctos:</p>
        <div class="campo">
            <label>Ciudad</label>
            <input type="text" id="ciudad" name="ciudad" placeholder="Ciudad" required>
        </div>
        <div class="campo">
            <label>Estado o provincia</label>
            <input type="text" id="estado" name="estado" placeholder="Estado" required>
        </div>
        <div class="campo">
            <label>País</label>
            <input type="text" id="pais" name="pais" placeholder="País" required>
        </div>
        <div class="campo enviar">
            <input type="submit" class="btn btn-rosa" value="Crear Meeti">
        </div>
    </form>
</main>

